a:link{color:#9999ff}
a:visited{color:#ff99ff}
a:hover{color:#99ffff}
a:active{color:#ff9999}
body{font-family: 思源黑体, "Source Han Sans", "Noto Sans"; background-color: rgb(0, 0, 128); color: rgb(255, 255, 255);}
table, td, th
{
	border:1px solid rgb(255,255,255);
}
td
{
	background-color:rgb(0, 64, 192);
	color: rgb(255, 255, 255);
}